@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 30px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.text-light-gray {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

.btn-primary {
    color: #fff;
    font-size: 1.25rem;
    border-radius: 8px;
    background-color: #ff900e;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}


main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .text-1 {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-2 {
    color: #131313;
    font-weight: 700;
}

.teams-title .text-3 {
    color: #ff900e;
    font-weight: 800;
}

.facts-card-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 10px;
}

.section-content {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponsors-img-container img {
    width: 165px;
}

.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.feature-content .card {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features .section-title {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.feature-img img {
    height: 90%;
    margin-left: 90px;
}

.ten-years-badge {
    border-radius: 8px;
    background-color: #FF900E;
    color: #fff;
    width: 342px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p {
    font-size: 1.5rem;
}

footer {
    max-width: 1440px;
    height: 100px;
    border-radius: 8px;
    background-color: #FFF4E7;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}




@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-wrap: wrap;
    }

    .teams-container {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-card-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    main {
        margin: 0 auto;
    }

    .sponsors-img-container {
        flex-direction: column;
        gap: 20px;
    }

    .features {
        flex-direction: column;
        text-align: center;
    }

    .feature-img img {
        width: 90%;
        margin: 0;
    }

    .ten-years-badge {
        position: static;
        max-width: 300px;
    }

}

@media screen and (min-width: 577px) and (max-width:960px) {

    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
    }

    .facts-card-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .sponsors-img-container {
        flex-wrap: wrap;
        gap: 50px;
    }

    .features {
        flex-direction: column;
        text-align: center;
    }
}